.company__item {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}
.company__list {
  @media screen and (min-width: 480px) {
    flex-basis: calc((100% - 30px) / 2);
    margin-top: 30px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-basis: auto;
  }
}

.company__link {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--social-links-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    display: inline-flex;
    border-color: var(--highlight-color);
    fill: var(--highlight-color);
  }
}
