.menu-open {
  background-color: #fff;
  padding: 0;
  border: none;
  margin-top: 10px;
  top: 10px;
  right: 10px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-close {
  position: absolute;
  background-color: #fff;
  padding: 0;
  border: none;
  margin-top: 10px;
  top: 10px;
  right: 25px;
}
.mobile-nav {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  .menu {
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
.mobile-menu__item {
  margin-bottom: 36px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: currentColor;
}
.page {
  color: var(--highlight-color);
}
.mobile-contacts {
  margin-bottom: 60px;
}
.mobile-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.mobile-contacts__item:not(:last-child) {
  margin-bottom: 30px;
}
.number {
  color: var(--highlight-color);
}
.mobile-media {
  display: flex;
}
.mobile-media__link {
  list-style-type: none;
  color: var(--highlight-color);
  text-decoration: none;
}
.mobile-media__item {
  padding-right: 10px;
}
.mobile-media__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-media__item:not(:first-child) {
  margin-left: 10px;
}
.mobile-nav.is-hidden {
  opacity: 0;
  pointer-events: none;
}
