.main-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.main-nav__list {
  margin-top: 16px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.main-nav__link--active {
  text-decoration: none;
  color: var(--highlight-color);
  position: relative;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;

  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--highlight-color);
    position: absolute;
    @media screen and (min-width: 768px) {
      bottom: -32px;
    }
    @media screen and (min-width: 1200px) {
      bottom: -22px;
    }
  }
}
.main-nav__item {
  display: none;
  align-items: center;
  padding-left: 0;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 93px;
  }
}

.main-nav__item .main-nav__link {
  text-decoration: none;
  color: var(--first-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__item .main-nav__item-list:not(:last-child) {
  margin-right: 50px;
}
.main-nav__link {
  &:hover,
  &:focus {
    color: var(--highlight-color);
  }
}

.main-nav__item-list {
  list-style-type: none;
}
.main-nav__contact {
  display: none;
  align-items: center;
  margin: 0;
  padding: 0;
  @media screen and (min-width: 768px) {
    display: block;
    margin-top: 21px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.main-nav__contact-link {
  text-decoration: none;
  line-height: 1.14;
  color: var(--adress-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.main-nav__contact-list:not(:last-child) {
  margin-bottom: 10px;
  @media screen and (min-width: 1200px) {
    margin: 0 30px 0 0;
  }
}

.main-nav__contact-img {
  margin-right: 10px;
  fill: currentColor;
}

.main-nav__contact-link {
  &:hover,
  &:focus {
    color: var(--highlight-color);
  }
}
.header--border {
  border-bottom: 1px var(--line-color) solid;
  padding-bottom: 13px;
}
