.section-hero {
  max-width: 100%;
  margin: 16px auto;
  height: 100%;
  background-color: var(--box-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-min/Headermob-min.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 118px 0;
  @media screen and (min-width: 480px) {
    width: 100%;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/img-min/Headermob-min.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/img-min/Headertabl-min.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/img-min/hero-min.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
