:root {
  --first-text-color: #212121;
  --background-color: #e5e5e5;
  --highlight-color: #2196f3;
  --second-text-color: #ffffff;
  --button-color: #f5f4fa;
  --box-color: #2f303a;
  --team-color: #f5f4fa;
  --adress-color: #757575;
  --second_address-color: rgba(255, 255, 255, 0.6);
  --line-color: #ececec;
  --card-dorder-color: #eeeeee;
  --social-links-color: #afb1b8;
  --footer-icon--color: #44454e;
  --bacground-color-modal: rgba(0, 0, 0, 0.2);
  --desk-aboutTeam-color: rgba(47, 48, 58, 0.8);
  --aboutCard-bacground-color: rgba(33, 150, 243, 0.9);
  --lebel-outline-color: rgba(33, 33, 33, 0.2);
  --agreement-color: rgba(117, 117, 117, 1);
}
